<header id="header">
    <div id="inicio" class="container__header">
        <div class="logo">
            <img src="../../../assets/imagenes/CONTPAQi-logo-01.png" alt="">
        </div>
        <div class="container__nav">
            <nav id="nav">
                <ul>
                   
                    <li><a  (click)=" scrollToElement('que')">QU&Eacute; ES</a></li>
                    <li><a  (click)=" scrollToElement('servicios')">SOLUCIONES</a></li>
                    <li><a  (click)=" scrollToElement('precios')">PRECIOS</a></li>
                    <li><a routerLink="/aspel">ASPEL</a></li>
                    <li><a  (click)=" scrollToElement('contacto')">CONTACTANOS</a></li>
                </ul>
            </nav>
            <div class="btn__menu" id="btn_menu">
                <div class="dropdown">
                    <button style="background-color:rgba(0, 141, 141, 0.75) ;" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="fas fa-bars"></i>
                    </button>
                    <ul style="color: white; background-color: rgba(0, 141, 141, 0.75);" class="dropdown-menu">
                        
                        <li><a  (click)=" scrollToElement('que')">QU&Eacute; ES</a></li>
                        <li><a  (click)=" scrollToElement('servicios')">SOLUCIONES</a></li>
                        <li><a  (click)=" scrollToElement('precios')">PRECIOS</a></li>
                        <li><a routerLink="/aspel">ASPEL</a></li>
                        <li><a  (click)=" scrollToElement('contacto')">CONTACTANOS</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</header>

<div class="container_all" id="container__all">
    <div class="cover">

        <!--INICIO WAVE-->

            <div class="bg_color"></div>
            <div class="wave w1"></div>
            <div class="wave w2"></div>

        <!--FINAL WAVE-->

        <div  class="container__cover">
            <div  class="container__info">
                
                <h2 id="inicio">CONTPAQi</h2>
                <p>Con CONTPAQi, lleva la gestión de tu negocio al siguiente nivel.</p>
                <input  (click)=" scrollToElement('que')" type="button" value="Conoce m&aacute;s">
            </div>
            <div class="container__vector">
                <img src="../../../assets/imagenes/Logotipo_Negativo.png" alt="">
            </div>
        </div>
    </div>



    

    <!-- NO TOCAR ÉSTE CÓDIGO...> AQUÍ TE DEJO EL TUTORIAL PARA QUE HAGAS ESTE CÓDIGO:
    https://youtu.be/0V1Bs5nV6uo -->

    <div class="body__Page">
        <div class="container__article">
            <div id="que" class="que que_es"  [ngsReveal]="{ reset: true, delay: 200, distance: '50px', origin: 'bottom' }" >
                
                <h1>¿Qu&eacute; es CONTPAQi?</h1>
                <div>
                    <div class="row">
                        <div class="col_texto col-12 col-md-8">
                          <p>CONTPAQi es un conjunto de software de contabilidad y administración empresarial 
                            desarrollado por la empresa mexicana CONTPAQi. Ofrece soluciones integrales para la 
                            gestión financiera, fiscal, nómina y facturación electrónica para empresas de todos los tamaños. 
                            Los productos de CONTPAQi se utilizan en una amplia gama de industrias y sectores, y están diseñados 
                            para ser intuitivos y fáciles de usar, con un enfoque en la eficiencia y la automatización de tareas. 
                            CONTPAQi es uno de los sistemas de gestión empresarial más utilizados en México y es muy valorado por 
                            su capacidad para 
                            simplificar y agilizar la gestión financiera y administrativa de las empresas.</p>
                        </div>
                        <div class="col-img col-12 col-md-4">
                            <img src="../../../assets/imagenes/CONTPAQi-logo-01.png" alt="">
                        </div>
                    </div>

                  
                </div>
                
               
               </div>


                <!---acordion donde se encuentran los servicios disponibles-->
                <div id="servicios" class="servicios container" style="margin-top: 3rem;" >
                    <h1 [ngsReveal]="{ reset: true, delay: 200, distance: '50px', origin: 'bottom' }" style="text-align: center;">SOLUCIONES</h1>
                    <!--PRODUCTOS COMERCIALES/------------------------------>
                    <cdk-accordion class="example-accordion">
                      <cdk-accordion-item   
                        #accordionItem="cdkAccordionItem"
                        class="example-accordion-item"
                        role="button"
                        tabindex="0"
                        [attr.id]="'accordion-header-' + 1"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + 1">
                        <div class="example-accordion-item-header" style=" color: white; background-color: #15928a;" (click)="accordionItem.toggle()">
                          PROCESOS COMERCIALES
                          <span class="example-accordion-item-description">
                            Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                          </span>
                        </div>
                        <div
                          class="example-accordion-item-body"
                          role="region"
                          [style.display]="accordionItem.expanded ? '' : 'none'"
                          [attr.id]="'accordion-body-' + 1"
                          [attr.aria-labelledby]="'accordion-header-' + 1">
                          <div class="contpaq_comercial">
                            
                            <div *ngFor="let item of tarjetasComercial.slice(inicioComercial, tarjetasMostradasComercial)" class="card" style="width: 18rem;">
                                <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
                                <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }">
                                  <h5 class="card-title">{{item.titulo}}</h5>
                                  <p class="card-text">{{item.desc}}</p>
                                  <a  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)"  class="btn btn-primary">Ficha t&eacute;cnica</a>
                                </div>
                              </div>
                              
                       
                              </div>

                              <div class="contpaq_comercial_responsive" >
                                <div class="boton_atras">
                                    <img  src="../../../assets/imagenes/ic-back_97586.svg"  (click)="verMenosComercialResponsive()"/>
                                </div>
                                <div *ngFor="let item of tarjetasComercial.slice(inicioComercialResponsive, tarjetasMostradasComercialResponsive)" class="card" style="width: 18rem;">
                                    <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
                                    <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }" >
                                      <h5 class="card-title">{{item.titulo}}</h5>
                                      <p class="card-text">{{item.desc}}</p>
                                      <a style="bottom: 0; position: relative;"  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)"  class="btn btn-primary">Ficha t&eacute;cnica</a>
                                  </div>
                                  </div>
                                  <div class="boton_siguiente">
                                    <img  src="../../../assets/imagenes/right_arrow_icon_124032.svg"  (click)="verMasComercialResponsive()"/>
                                </div>
                           
                                  </div>
                        </div>
                      </cdk-accordion-item>
                    </cdk-accordion>


                    <!---PRODUCTOS CONTABLES--------------------------------------------->
                    <cdk-accordion class="example-accordion">
                        <cdk-accordion-item   
                          #accordionItemContable="cdkAccordionItem"
                          class="example-accordion-item"
                          role="button"
                          tabindex="0"
                          [attr.id]="'accordion-header-' + 2"
                          [attr.aria-expanded]="accordionItemContable.expanded"
                          [attr.aria-controls]="'accordion-body-' + 2">
                          <div class="example-accordion-item-header" style=" color: white; background-color: #003a71;" (click)="accordionItemContable.toggle()">
                            PROCESOS CONTABLES
                            <span class="example-accordion-item-description">
                              Click to {{ accordionItemContable.expanded ? 'close' : 'open' }}
                            </span>
                          </div>
                          <div
                            class="example-accordion-item-body"
                            role="region"
                            [style.display]="accordionItemContable.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + 2"
                            [attr.aria-labelledby]="'accordion-header-' + 2">
                            <div class="contpaq_comercial" >
                              <div class="boton_atras">
                                  <img  src="../../../assets/imagenes/ic-back_97586.svg" *ngIf="tarjetasMostradasContable >= tarjetasContable.length" (click)="verMenosContable()"/>
                              </div>
                              <div *ngFor="let item of tarjetasContable.slice(inicioContable, tarjetasMostradasContable)" class="card" style="width: 18rem;">
                                  <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
                                  <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }">
                                    <h5 class="card-title">{{item.titulo}}</h5>
                                    <p class="card-text">{{item.desc}}</p>
                                    <a  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)"  class="btn btn-primary">Ficha t&eacute;cnica</a>
                                  </div>
                                </div>
                                <div class="boton_siguiente">
                                  <img  src="../../../assets/imagenes/right_arrow_icon_124032.svg" *ngIf="tarjetasMostradasContable < tarjetasContable.length" (click)="verMasContable()"/>
                              </div>
                         
                                </div>
  
                                <div class="contpaq_comercial_responsive" >
                                  <div class="boton_atras">
                                      <img  src="../../../assets/imagenes/ic-back_97586.svg"  (click)="verMenosContableResponsive()"/>
                                  </div>
                                  <div *ngFor="let item of tarjetasContable.slice(inicioContableResponsive, tarjetasMostradasContableResponsive)" class="card" style="width: 18rem;">
                                      <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
                                      <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }" >
                                        <h5 class="card-title">{{item.titulo}}</h5>
                                        <p class="card-text">{{item.desc}}</p>
                                        <a style="bottom: 0; position: relative;"  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)"  class="btn btn-primary">Ficha t&eacute;cnica</a>
                                    </div>
                                    </div>
                                    <div class="boton_siguiente">
                                      <img  src="../../../assets/imagenes/right_arrow_icon_124032.svg"  (click)="verMasContableResponsive()"/>
                                  </div>
                             
                                    </div>
                          </div>
                        </cdk-accordion-item>
                      </cdk-accordion>
  <!---PRODUCTOS NUBE--------------------------------------------->
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item   
      #accordionItemNube="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + 3"
      [attr.aria-expanded]="accordionItemNube.expanded"
      [attr.aria-controls]="'accordion-body-' + 3">
      <div class="example-accordion-item-header" style=" color: white; background-color:rgba(0, 154, 201,1);" (click)="accordionItemNube.toggle()">
        NUBE
        <span class="example-accordion-item-description">
          Click to {{ accordionItemNube.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItemNube.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + 3"
        [attr.aria-labelledby]="'accordion-header-' + 3">
        <div class="contpaq_comercial" >
        
          <div *ngFor="let item of tarjetasNube.slice(inicioNube, tarjetasMostradasNube)" class="card" style="width: 18rem;">
              <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
              <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }">
                <h5 class="card-title">{{item.titulo}}</h5>
                <p class="card-text">{{item.desc}}</p>
                <a  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)" style="background-color: #67db63;" class="btn">Ficha t&eacute;cnica</a>
              </div>
            </div>
          
     
            </div>

            <div class="contpaq_comercial_responsive" >
              <div class="boton_atras">
                  <img  src="../../../assets/imagenes/ic-back_97586.svg"  (click)="verMenosNubeResponsive()"/>
              </div>
              <div *ngFor="let item of tarjetasNube.slice(inicioNubeResponsive, tarjetasMostradasNubeResponsive)" class="card" style="width: 18rem;">
                  <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
                  <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }" >
                    <h5 class="card-title">{{item.titulo}}</h5>
                    <p class="card-text">{{item.desc}}</p>
                    <a style="bottom: 0; position: relative;"  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)" style="background-color: #67db63;" class="btn">Ficha t&eacute;cnica</a>
                </div>
                </div>
                <div class="boton_siguiente">
                  <img  src="../../../assets/imagenes/right_arrow_icon_124032.svg"  (click)="verMasNubeResponsive()"/>
              </div>
         
                </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>

   <!---PRODUCTOS WOPEN--------------------------------------------->
   <cdk-accordion class="example-accordion">
    <cdk-accordion-item   
      #accordionItemWopen="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + 4"
      [attr.aria-expanded]="accordionItemWopen.expanded"
      [attr.aria-controls]="'accordion-body-' + 4">
      <div class="example-accordion-item-header" style=" color: white; background-color:#432ACA;" (click)="accordionItemWopen.toggle()">
        WOPEN POS
        <span class="example-accordion-item-description">
          Click to {{ accordionItemWopen.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItemWopen.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + 3"
        [attr.aria-labelledby]="'accordion-header-' + 4">
        <div class="contpaq_comercial" >
        
          <div *ngFor="let item of tarjetasWopen.slice(inicioWopen, tarjetasMostradasWopen)" class="card" style="width: 18rem;">
              <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
              <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }">
                <h5 class="card-title">{{item.titulo}}</h5>
                <p class="card-text">{{item.desc}}</p>
                <a  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)" style="background-color: #C8A2C8;" class="btn">Ficha t&eacute;cnica</a>
              </div>
            </div>
          
     
            </div>

            <div class="contpaq_comercial_responsive" >
              <div class="boton_atras">
                  <img  src="../../../assets/imagenes/ic-back_97586.svg"  (click)="verMenosWopenResponsive()"/>
              </div>
              <div *ngFor="let item of tarjetasWopen.slice(inicioWopenResponsive, tarjetasMostradasWopenResponsive)" class="card" style="width: 18rem;">
                  <img style="padding: 3rem;" src="{{item.src}}" class="card-img-top" alt="...">
                  <div class="card-body cuerpo_comercial" [ngStyle]="{ 'background-color': item.back }" >
                    <h5 class="card-title">{{item.titulo}}</h5>
                    <p class="card-text">{{item.desc}}</p>
                    <a style="bottom: 0; position: relative;"  (click)="archivoPdf(contenidoPdfSeleccionado,item.ficha)" style="background-color:  #C8A2C8;" class="btn">Ficha t&eacute;cnica</a>
                </div>
                </div>
                <div class="boton_siguiente">
                  <img  src="../../../assets/imagenes/right_arrow_icon_124032.svg"  (click)="verMasWopenResponsive()"/>
              </div>
         
                </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
                    
               
                         </div>
          
           <div id="precios" [ngsReveal]="{ reset: true, delay: 200, distance: '50px', origin: 'bottom' }" class="precios container" style="margin-top: 3rem;">
            <h1  style="text-align: center;">PRECIOS</h1>

            <div class="row" style="width: 100%;">
<h2 style="color: rgba(0, 141, 141, 0.75);">Procesos Comerciales</h2>
                
                 <div class="col-12 col-md-6" style="display: flex; justify-content: center; align-items: center;">
                    <div class="card" style="width: 18rem; height: 17rem; border: solid 2px  rgba(0, 141, 141, 0.75);;">
                        <img style="padding: 2rem;" src="../../../assets/imagenes/CONTPAQi-Comercial -1-.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMPAQi Comercial</h5>
                          <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioComerceFaxt.pdf')" style="background-color: rgba(0, 141, 141, 0.75);" class="btn">Precio</a>
                        </div>
                      </div>

                 </div>
                 <div class="col-12 col-md-6" style="display: flex; justify-content: center; align-items: center;">
                    <div class="card" style="width: 18rem; height: 17rem;  border: solid 2px  rgba(0, 141, 141, 0.75);;">
                        <img style="padding: 2rem;" src="../../../assets/imagenes/CONTPAQi_submarca_Factura electronica_RGB_A.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">COMPAQi Factura electrónica</h5>
                          <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioComerceFaxt.pdf')" style="background-color: rgba(0, 141, 141, 0.75);" class="btn">Precio</a>
                        </div>
                      </div>

                 
            </div>
            </div>

            <div class="row" style="margin-top: 2rem; width: 100%;">
                <h2 style="color: #003a71">Procesos Contables</h2>
                                
                                 <div class="col-12 col-md-4" style="display: flex; justify-content: center; align-items: center;">
                                    <div class="card" style="width: 18rem; height: 17rem; border: solid 2px #003a71;">
                                        <img style="padding: 2rem;" src="../../../assets/imagenes/CONTPAQi_submarca_contabilidad_RGB_A.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">COMPAQi Contabilidad</h5>
                                          <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/Precio_contabilidad.pdf')" style="background-color:#003a71; color: white;" class="btn">Precio</a>
                                        </div>
                                      </div>
                
                                 </div>
                                 <div class="col-12 col-md-4" style="display: flex; justify-content: center; align-items: center;">
                                    <div class="card" style="width: 18rem; height: 17rem;  border: solid 2px  #003a71;">
                                        <img style="padding: 2rem;" src="../../../assets/imagenes/CONTPAQi_submarca_Nominas_RGB_A.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">COMPAQi Nóminas</h5>
                                          <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioNomina.pdf')" style="color: white; background-color:#003a71;" class="btn">Precio</a>
                                        </div>
                                      </div>
                
                                 
                            </div>

                            <div class="col-12 col-md-4" style="display: flex; justify-content: center; align-items: center;">
                                <div class="card" style="width: 18rem; height: 17rem;  border: solid 2px  #003a71;">
                                    <img style="padding: 2rem;" src="../../../assets/imagenes/CONTPAQi_submarca_XML en linea+_RGB_A.webp" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">COMPAQi XML en línea+</h5>
                                      <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioXml.pdf')" style="color: white; background-color:#003a71;" class="btn">Precio</a>
                                    </div>
                                  </div>
            
                             
                        </div>

                        <div class="col-12 col-md-12" style="margin-top: 3rem; display: flex; justify-content: center; align-items: center;">
                            <div class="card" style="width: 18rem; height: 17rem;  border: solid 2px  #003a71;">
                                <img style="padding: 2rem;" src="../../../assets/imagenes/Bancos.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">COMPAQi Bancos</h5>
                                  <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioBanco.pdf')" style="color: white; background-color:#003a71;" class="btn">Precio</a>
                                </div>
                              </div>
        
                         
                    </div>
                            </div>

                            <div class="row" style="margin-top: 2rem; width: 100%;">
                                <h2 style="color: rgba(0, 154, 201,1)">Nube</h2>
                                                
                                                
                                        <div class="col-12 col-md-6" style="margin-top: 3rem; display: flex; justify-content: center; align-items: center;">
                                            <div class="card" style="width: 18rem; height: 17rem;  border: solid 2px rgba(0, 154, 201,1);">
                                                <img style="padding: 2rem;" src="../../../assets/imagenes/cropped-cropped-Logo-CONTPAQi-Escritorio_Virtual-1.png" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <h5 class="card-title">COMPAQi Escritorio virtual</h5>
                                                  <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioEscritorio.pdf')" style="color: white; background-color:rgba(0, 154, 201,1);" class="btn">Precio</a>
                                                </div>
                                              </div>
                        
                                         
                                    </div>
                                    <div class="col-12 col-md-6" style="margin-top: 3rem; display: flex; justify-content: center; align-items: center;">
                                        <div class="card" style="width: 18rem; height: 17rem;  border: solid 2px rgba(0, 154, 201,1);">
                                            <img style="padding: 2rem;" src="../../../assets/imagenes/Logo_CONTPAQi_Personia.svg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">COMPAQi Personia</h5>
                                              <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioPersonia.pdf')" style="color: white; background-color:rgba(0, 154, 201,1);" class="btn">Precio</a>
                                            </div>
                                          </div>
                    
                                     
                                </div>
                                            </div>

                            

                                            <div class="row" style="margin-top: 2rem; width: 100%;">
                                                <h2 style="color: #432ACA">Wopen pos</h2>
                                                                
                                                                
                                                        <div class="col-12 col-md-12" style="margin-top: 3rem; display: flex; justify-content: center; align-items: center;">
                                                            <div class="card" style="width: 18rem; height: 17rem;  border: solid 2px #432ACA;">
                                                                <img style="padding: 2rem;" src="../../../assets/imagenes/WOPENS POS estandar.svg" class="card-img-top" alt="...">
                                                                <div class="card-body">
                                                                  <h5 class="card-title">Wopen pos</h5>
                                                                  <a (click)="archivoPdf(contenidoPdfSeleccionado,'../../../assets/pdf/PrecioWo.pdf')" style="color: white; background-color:#432ACA;" class="btn">Precio</a>
                                                                </div>
                                                              </div>
                                        
                                                         
                                                    </div>
                                                            </div>
                                 
                 
            

           </div>
           




    </div>

    <div class="container-testimonials">
        <div class="box__testimonials"></div>
        <div class="box__testimonials"></div>
        <div class="box__testimonials"></div>
    </div>
</div>



    <Footer>
        <div class="container__footer">

            <div class="box__footer">
                <div class="logo">
                    <img style="width: 120px; height: 120px;" src="../../../assets/imagenes/CONTPAQi-logo-01.png" alt="">
                </div>
                <div class="terms">
                    Transformamos tu negocio con tecnología de vanguardia.
                   </div>
            </div>

            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="#">Procesos Comerciales</a>
                <a href="#">Procesos contables</a>
                <a href="#">Nube</a>
                <a href="#">Wopen pos</a>
            </div>

            <div id="contacto" class=" contacto box__footer">
                <h2>Contactanos</h2>
                <a href="mailto:consultoriaempresarialtx@hotmail.com">consultoriaempresarialtx@hotmail.com</a>
                <a>Tel:4424575509</a>
                              
            </div>

          
        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2023 <b>Consultoria empresarial TX</b></p>
        </div>
    </Footer>

</div>





<!--<ODAL PDF-->


     <!--MODAL QUE SE LANZARA PARApdf seleccionado-->
 <ng-template #contenidoPdfSeleccionado let-modal>
    <div class="modal-header">
      
      <button class="close btn btn-danger" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">X</span>
      </button>
    </div>
    <div class="modal-body" style="display: flex; justify-content: center;">
      <div class="row" style="width: 100%; height: 100%;">
    
    <pdf-viewer
    [src]="archivoPdfS"
    [rotation]="0"
    [original-size]="true"
    [show-all]="true"
    [fit-to-page]="true"
    [zoom]="1"
    [zoom-scale]="'page-width'"
    [stick-to-page]="false"
    [render-text]="true"
    [external-link-target]="'blank'"
    [autoresize]="true"
    [show-borders]="false"
    
    style="width: 100%; height: 600px;"
  ></pdf-viewer>
  </div>
    </div>
    <div class="modal-footer">
    
      <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button>
    </div>
  </ng-template>